<footer class="container">
		<div class="row">
			<div class="col col--12-of-12">
				<a href="index.html" class="footerlogo">Go Home</a>
			</div>
		</div>
		<div class="row">
			<div class="col col--12-of-12">
				<div class="footer_navigation">
					<ul>
						<li class="current"><a href="index.html">Work</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col--12-of-12">
			<p class="copyright">© 2021 Phelia Barouh</p>
			</div>
		</div>
</footer>

<!-- <script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 4000);
}
</script> -->

</body>
</html>
