<div class="container-fluid backgroundcolor" style="background-color: #000;">
	<div class="container">
		<!-- <div class="row">
			<div class="col col--12-of-12">
				<h1>The Strange Other</h1>
			</div>
		</div> -->

		<div class="row">
			<div class="col col--12-of-12">
				<div class="description">
					<h2 style="color:#f2f2f2;">Palermo. Box. Me.</h2>
					<p class="tag" style="color:#f2f2f2;">/ Exhibition / Book</p>
					<p style="color:#f2f2f2;">This is a story. It speaks about wins and losses. About the marks that we carry with us – on our faces, in our hearts. A story about the road, about random meetings and a definite separation. In an unknown city, on an old island. This is a story about the battles – mostly the ones we’re fighting with ourselves.
				<br>
				This is my story, but it could’ve been yours as well. I’m glad I told this story because it takes a lot of strength to recognize when you are weak.
				<br>
					</p>
					<!-- <p class="tag" style="margin-top: 14px; color:#f2f2f2; "> / text and interviews by Boryana Telbis</p> -->
				</div>
			</div>

			<ul class="photos">
				<li class="col col--12-of-12">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/0.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--6-of-12">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/1-1.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--6-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/1-2a.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/2.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/3.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--6-of-12">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/4-1.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--6-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/4-2.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/5.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--6-of-12">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/6-1.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--6-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/6-2.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/7.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/8.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/9.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/10.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--6-of-12">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/11-1.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--6-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/11-2.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/12.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/13.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/14.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/15.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/16.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/17.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/18.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--6-of-12">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/19-1.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--6-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/19-2.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/20.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--6-of-12">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/21-1.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--6-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/21-2.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/22.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/23.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/24.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/25.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--6-of-12">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/26-1.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--6-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/26-2.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/27.jpg" alt="Phelia's Photo"/>
				</li>
				<li class="col col--12-of-12 hide-photo">
					<img class="img-responsive" src="img/projects/Palermo-Box-Me/28.jpg" alt="Phelia's Photo"/>
				</li>

			</ul>
		</div>
		<img class="img-responsive flip" src="img/top.svg" alt=""/>
</div>
	</div> <!-- closing of the clour background -->
	<!-- <section class="container">
		<h3>&mdash;<br>Other projects.</h3>
		<div class="row">
			<ul class="projects">
				<li class="col col--6-of-12">
					<a href="Come-In-Taka-A-Selfie.html"><img class="img-responsive" src="img/projects/thumbs/Come-In-And-Take-A-Selfie_t.jpg" alt="Phelia's Photo"/>
						<div class="plusfour"><h2>Come In, Take A Selfie</h2><p>/ Installation</p></div>
					</a>
				</li>
				<li class="col col--6-of-12">
					<a href="Black-Box.html"><img class="img-responsive" src="img/projects/thumbs/Black-Box_t.jpg" alt="Phelia's Photo"/>
						<div class="plusfour"><h2>Black Box</h2><p>/ Portraits</p></div>
					</a>
				</li>
				<li class="col col--6-of-12">
					<a href="The-Lost-Generation.html"><img class="img-responsive" src="img/projects/thumbs/The-Lost-Generation_t.jpg" alt="Phelia's Photo"/>
						<div><h2>The Lost Generation</h2></div>
					</a>
				</li>
				<li class="col col--6-of-12">
					<a href="Me-with-Myself.html"><img class="img-responsive" src="img/projects/thumbs/Me-with-Myself_t.jpg" alt="Phelia's Photo"/>
						<div class="plusfour"><h2>Me With Myself</h2></div>
					</a>
				</li>
				<!-- <li class="col col--6-of-12 col--m-2-of-4 col--s-2-of-4 innerstray">
					<a href="The-Lost-Generation.html"><img class="img-responsive" src="img/projects/thumbs/The-Lost-Generation_t.jpg" alt="Phelia's Photo"/>
						<div><h2>The Lost Generation</h2><p>/ Personal Project</p></div>
					</a>
				</li> -->
			<!-- </ul>
		</div>
	</section> -->
