<div class="container-fluid backgroundcolor">
	<div class="container">
		<!-- <div class="row">
				<div class="col col--12-of-12">
					<h1>Get in touch whith me,<br>
							or just say hi.</h1>
				</div>
		</div> -->
		<div class="row">
			<div class="col col--12-of-12">
				<ul class="contacts">
					<li><a href="tel:+359888980199">+359 88 8980199</a></li>
					<li><a href="mailto:phelia@phelia.com" target="_top">hello@pheliabarouh.com</a></li>
					<!-- <li><a href="#" target="_top">facebook/theblackbox</a></li> -->
					<!-- <li><a href="#" target="_top">twitter</a></li> -->
				</ul>
			</div>
		</div>
		<div class="row">
				<div class="col col--12-of-12 thankyou">
					<h3>Got it!</h3>
					<p>I will get back to you.</p>
				</div>
		</div>

		<img class="img-responsive flip" src="img/top.svg" alt=""/>
	</div>
</div> <!-- closing of the clour background -->
